<section class="blogs-section position-relative">
    <div class="right-bg-img position-absolute bottom-0 end-0">
        <img src="../assets/images/home/about/shapes.png" class="opacity-20" alt="img">
    </div>
    <div class="container">
        <div class="blog-title-area">
            <div class="section-title z-99 position-relative m-0">
                <h6 class="wow fadeInUp text-primary-1 m-0">
                    <img src="../assets/icons/wave-theme.svg" class="hero-icon" alt="img">
                    NEWS & BLOG
                </h6>
                <h2 class="wow fadeInUp mt-2 text-capitalize" data-wow-delay=".2s">
                    Our Latest News Feed
                </h2>
            </div>
            <a href="#" class="main-theme-colored-btn blog-title-hover-btn text-decoration-none wow fadeInUp"
                data-wow-delay=".4s">VIEW
                DETAILS</a>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".3s">
                <div class="blog-items">
                    <div class="position-relative overflow-hidden">
                        <div class="blog-bg-img"
                            style="background-image: url('../assets/images/home/blogs/travel-luxury.jpg');">

                        </div>
                    </div>
                    <div class="blog-content">
                        <ul class="list-unstyled blog-info">
                            <li>
                                <img src="../assets/icons/wave.svg" class="hero-icon-small" alt="img">
                                April 12, 2025
                            </li>
                            <li>
                                Tips & Tricks
                            </li>
                        </ul>
                        <h3>
                            <a href="#">Luxury Travel Trends for the Modern Explorer</a>
                        </h3>
                        <a href="#" class="main-theme-colored-btn blogs-hover-btn text-decoration-none">VIEW MORE</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".5s">
                <div class="blog-items">
                    <div class="position-relative overflow-hidden">
                        <div class="blog-bg-img"
                            style="background-image: url('../assets/images/home/blogs/luxury-welcome.jpg');">

                        </div>
                    </div>
                    <div class="blog-content">
                        <ul class="blog-info list-unstyled">
                            <li>
                                <img src="../assets/icons/wave.svg" class="hero-icon-small" alt="img">
                                April 12, 2025
                            </li>
                            <li>
                                Hotel
                            </li>
                        </ul>
                        <h3>
                            <a href="#">Welcome to Aro: Where Luxury Feels Effortless</a>
                        </h3>
                        <a href="#" class="main-theme-colored-btn blogs-hover-btn text-decoration-none">VIEW MORE</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".7s">
                <div class="blog-items">
                    <div class="position-relative overflow-hidden">
                        <div class="blog-bg-img"
                            style="background-image: url('../assets/images/home/blogs/luxury-toast.jpg');">

                        </div>
                    </div>
                    <div class="blog-content">
                        <ul class="blog-info list-unstyled">
                            <li>
                                <img src="../assets/icons/wave.svg" class="hero-icon-small" alt="img">
                                April 12, 2025
                            </li>
                            <li>
                                Tips & Enjoy
                            </li>
                        </ul>
                        <h3>
                            <a href="#" class="text-decoration-none">Toast to the Good Life Our Sommelier’s Picks"</a>
                        </h3>
                        <a href="#" class="main-theme-colored-btn blogs-hover-btn text-decoration-none">VIEW MORE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>