<section class="room-booking-section overflow-hidden position-relative pb-0">
    <div class="booking-bg-shape float-bob-x">
        <img src="../assets/images/home/about/shapes.png" class="opacity-20" alt="img">
    </div>
    <div class="container px-2">
        <div class="room-booking-wrapper">
            <div class="text-center">
                <h6 class="justify-content-center wow fadeInUp text-primary-1 d-flex gap-2 align-items-center fs-5">
                    <img src="../assets/icons/wave-theme.svg" class="hero-icon" alt="img">
                    GETTING A SEAT
                    <img src="../assets/icons/wave-theme.svg" class="hero-icon rotate-360" alt="img">
                </h6>
                <h2 class="text-white wow fadeInUp" data-wow-delay=".2s">
                    Locate and Reserve Your Seats
                </h2>
            </div>
            <form action="#">
                <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp">
                        <div class="room-form-fields">
                            <span>Check In</span>
                            <input type="date" id="date1" name="date1">
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".2s">
                        <div class="room-form-fields">
                            <span>Check Out</span>
                            <input type="date" id="date" name="date">
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".4s">
                        <div class="room-form-fields">
                            <span>Adults</span>
                            <div class="form">
                                <select class="shaden-form-dropdown w-100">
                                    <option>01</option>
                                    <option>02</option>
                                    <option>03</option>
                                    <option>04</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".6s">
                        <div class="room-form-fields">
                            <span>Children</span>
                            <div class="form">
                                <select class="shaden-form-dropdown w-100">
                                    <option>01</option>
                                    <option>02</option>
                                    <option>03</option>
                                    <option>04</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 wow fadeInUp" data-wow-delay=".8s">
                        <div class="room-form-fields">
                            <button class="book-form-submit book-hover-btn w-100" type="submit">SEARCH NOW</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="room-booking-video parallaxie bg-cover"
        style="background-image: url('../assets/images/home/booking/video-hotel-bg.webp');">
        <div class="booking-video-items">
            <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn video-popup">
                <i class="fa-solid fa-play"></i>
            </a>
        </div>
    </div>
</section>