<div class="marquee-section overflow-hidden pt-0">
    <div class="marquee">
        <div class="marquee-group">
            <div class="text">Health and Fitness</div>
            <div class="text">
                <img src="../assets/icons/star.svg" alt="img">
            </div>
            <div class="text">Modern City Hotel</div>
            <div class="text">
                <img src="../assets/icons/star.svg" alt="img">
            </div>
            <div class="text">Best Luxury Resort</div>
            <div class="text">
                <img src="../assets/icons/star.svg" alt="img">
            </div>
            <div class="text">Luxury Hotel in California</div>
            <div class="text">
                <img src="../assets/icons/star.svg" alt="img">
            </div>
            <div class="text">Health and Fitness</div>
            <div class="text">
                <img src="../assets/icons/star.svg" alt="img">
            </div>
        </div>
        <div class="marquee-group">
            <div class="text">Health and Fitness</div>
            <div class="text">
                <img src="../assets/icons/star.svg" alt="img">
            </div>
            <div class="text">Modern City Hotel</div>
            <div class="text">
                <img src="../assets/icons/star.svg" alt="img">
            </div>
            <div class="text">Best Luxury Resort</div>
            <div class="text">
                <img src="../assets/icons/star.svg" alt="img">
            </div>
            <div class="text">Luxury Hotel in California</div>
            <div class="text">
                <img src="../assets/icons/star.svg" alt="img">
            </div>
            <div class="text">Health and Fitness</div>
            <div class="text">
                <img src="../assets/icons/star.svg" alt="img">
            </div>
        </div>
        <div class="marquee-group">
            <div class="text">Health and Fitness</div>
            <div class="text">
                <img src="../assets/icons/star.svg" alt="img">
            </div>
            <div class="text">Modern City Hotel</div>
            <div class="text">
                <img src="../assets/icons/star.svg" alt="img">
            </div>
            <div class="text">Best Luxury Resort</div>
            <div class="text">
                <img src="../assets/icons/star.svg" alt="img">
            </div>
            <div class="text">Luxury Hotel in California</div>
            <div class="text">
                <img src="../assets/icons/star.svg" alt="img">
            </div>
            <div class="text">Health and Fitness</div>
            <div class="text">
                <img src="../assets/icons/star.svg" alt="img">
            </div>
        </div>
    </div>
</div>