<section class="room-section overflow-hidden">
    <div class="container">
        <div>
            <div>
                <h6 class="wow fadeInUp fs-5 fw-normal text-primary-1 d-flex gap-2 align-items-center">
                    <img class="hero-icon" src="../assets/icons/wave-theme.svg" alt="img">
                    ROOMS
                </h6>
                <h2 class="wow fadeInUp fs-1" data-wow-delay=".2s">
                    Reste’s Rooms & Suites
                </h2>
            </div>
        </div>
    </div>
    <div class="room-slider-wrapper">
        <div class="swiper room-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="room-items style-margin">
                        <div class="room-item-thumb">
                            <div class="room-image"
                                style="background-image: url('../assets/images/home/room/lux-room-1.jpg');">
                                <!-- <img src="../assets/images/home/room/lux-room-1.jpg" alt="img"> -->
                            </div>
                            <!-- <img src="../assets/images/home/room/lux-room-1.jpg" alt="img"> -->
                            <span class="room-post-box">
                                $269 / NIGHT
                            </span>
                        </div>
                        <div class="room-content">
                            <a href="#" class="room-category text-decoration-none">Luxury Room</a>
                            <h3><a href="#" class="text-decoration-none">Luxury Signature Suites</a></h3>
                            <ul class="room-list list-unstyled">
                                <li>
                                    <i class="fas fa-bed"></i>
                                    1500 SQ.FT/Rooms
                                </li>
                                <li>
                                    <i class="fas fa-user"></i>
                                    02 Guests
                                </li>
                            </ul>
                            <a href="#" class="room-discover-link-btn text-decoration-none">DISCOVER MORE</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="room-items style-margin">
                        <div class="room-item-thumb">
                            <div class="room-image"
                                style="background-image: url('../assets/images/home/room/lux-room-2.jpg');">
                                <!-- <img src="../assets/images/home/room/lux-room-2.jpg" alt="img"> -->
                            </div>
                            <!-- <img src="../assets/images/home/room/lux-room-2.jpg" alt="img"> -->
                            <span class="room-post-box">
                                $269 / NIGHT
                            </span>
                        </div>
                        <div class="room-content">
                            <a href="#" class="room-category text-decoration-none">Luxury Room</a>
                            <h3><a href="#" class="text-decoration-none">Delux Family Room</a></h3>
                            <ul class="room-list list-unstyled">
                                <li>
                                    <i class="fas fa-bed"></i>
                                    1500 SQ.FT/Rooms
                                </li>
                                <li>
                                    <i class="fas fa-user"></i>
                                    02 Guests
                                </li>
                            </ul>
                            <a href="#" class="room-discover-link-btn text-decoration-none">DISCOVER MORE</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="room-items style-margin">
                        <div class="room-item-thumb">
                            <div class="room-image"
                                style="background-image: url('../assets/images/home/room/lux-room-3.jpg');">
                                <!-- <img src="../assets/images/home/room/lux-room-3.jpg" alt="img"> -->
                            </div>
                            <!-- <img src="../assets/images/home/room/lux-room-3.jpg" alt="img"> -->
                            <span class="room-post-box">
                                $269 / NIGHT
                            </span>
                        </div>
                        <div class="room-content">
                            <a href="#" class="room-category text-decoration-none">Luxury Room</a>
                            <h3><a href="#" class="text-decoration-none">Industry Experience</a></h3>
                            <ul class="room-list list-unstyled">
                                <li>
                                    <i class="fas fa-bed"></i>
                                    1500 SQ.FT/Rooms
                                </li>
                                <li>
                                    <i class="fas fa-user"></i>
                                    02 Guests
                                </li>
                            </ul>
                            <a href="#" class="room-discover-link-btn text-decoration-none">DISCOVER MORE</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="room-items style-margin">
                        <div class="room-item-thumb">
                            <div class="room-image"
                                style="background-image: url('../assets/images/home/room/lux-room-4.jpg');">
                                <!-- <img src="../assets/images/home/room/lux-room-4.jpg" alt="img"> -->
                            </div>
                            <!-- <img src="../assets/images/home/room/lux-room-4.jpg" alt="img"> -->
                            <span class="room-post-box">
                                $269 / NIGHT
                            </span>
                        </div>
                        <div class="room-content">
                            <a href="#" class="room-category text-decoration-none">Luxury Room</a>
                            <h3><a href="#" class="text-decoration-none">Oceanview Deluxe Room</a></h3>
                            <ul class="room-list list-unstyled">
                                <li>
                                    <i class="fas fa-bed"></i>
                                    1500 SQ.FT/Rooms
                                </li>
                                <li>
                                    <i class="fas fa-user"></i>
                                    02 Guests
                                </li>
                            </ul>
                            <a href="#" class="room-discover-link-btn text-decoration-none">DISCOVER MORE</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="room-items style-margin">
                        <div class="room-item-thumb">
                            <div class="room-image"
                                style="background-image: url('../assets/images/home/room/lux-room-5.jpg');">
                                <!-- <img src="../assets/images/home/room/lux-room-4.jpg" alt="img"> -->
                            </div>
                            <!-- <img src="../assets/images/home/room/lux-room-4.jpg" alt="img"> -->
                            <span class="room-post-box">
                                $269 / NIGHT
                            </span>
                        </div>
                        <div class="room-content">
                            <a href="#" class="room-category text-decoration-none">Luxury Room</a>
                            <h3><a href="#" class="text-decoration-none">Look Our Luxury Rooms</a></h3>
                            <ul class="room-list list-unstyled">
                                <li>
                                    <i class="fas fa-bed"></i>
                                    1500 SQ.FT/Rooms
                                </li>
                                <li>
                                    <i class="fas fa-user"></i>
                                    02 Guests
                                </li>
                            </ul>
                            <a href="#" class="room-discover-link-btn text-decoration-none">DISCOVER MORE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>