<section class="about-section position-relative overflow-hidden">
    <img src="../../assets/images/home/about/shapes.png" class="position-absolute end-0 bottom-0 opacity-20 max-w-476">

    <div class="container-lg px-2 py-5 position-relative z-2">

        <div class="about-us-info-div mt-5">
            <div class="row g-4">
                <div class="col-lg-6">
                    <div class="position-relative">
                        <div class="wow fadeInUp w-456">
                            <img src="../../assets/images/home/about/luxury-hotel-1.webp"
                                class="w-100 h-100 border-radius-8 object-fit-cover" alt="luxury hotel image">
                            <div class="wow fadeInUp position-absolute w-327">
                                <img src="../../assets/images/home/about/swimming-pool-luxury.webp"
                                    class="border-4 border-white border w-100 h-100 border-radius-8 object-fit-cover">
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-6">
                    <h5 class="text-uppercase d-flex align-items-center gap-2 m-0 fw-semibold flex-wrap text-primary-1">
                        <img src="../../assets/icons/wave-theme.svg" class="hero-icon" alt="hero icon">
                        about us
                    </h5>

                    <h2 class="wow fadeInUp text-capitalize fw-normal mt-3 fs-1">More Than a Stay – A Legacy of Luxury
                    </h2>

                    <p class="wow fadeInUp text-muted mt-3">At our hotel, luxury is more than just a word — it's a
                        tradition.
                        From
                        exquisite design to personalized service, every
                        detail is thoughtfully curated to create unforgettable experiences. Whether you're here for
                        relaxation or celebration,
                        we offer more than a stay — we offer a legacy of comfort, elegance, and world-class hospitality.
                    </p>

                    <div class="icon-list flex-wrap d-flex align-items-center mt-4 gap-3 gap-lg-4">

                        <div class="d-flex gap-4 align-items-center">
                            <img src="../../assets/images/home/about/icon-1.png">
                            <span class="fs-5 fw-normal text-capitalize">the greatest lightening</span>
                        </div>

                        <div class="d-flex gap-4 align-items-center">
                            <img src="../../assets/images/home/about/icon-2.png">
                            <span class="fs-5 fw-normal text-capitalize">pick up & drop</span>
                        </div>

                    </div>

                    <ul class="list-unstyled services-list wow fadeInUp mt-4 d-flex flex-column gap-2">
                        <li class="fs-5 fw-normal d-flex gap-2 align-items-center">
                            <i class="fas fa-chevron-circle-right text-primary-1"></i>
                            Morning Meals for Everyone
                        </li>
                        <li class="fs-5 fw-normal d-flex gap-2 align-items-center">
                            <i class="fas fa-chevron-circle-right text-primary-1"></i>
                            The Best Parking Space
                        </li>
                    </ul>

                    <div class="wow fadeInUp about-buttons-div d-flex gap-3 gap-lg-4 flex-wrap align-items-center mt-5">
                        <a
                            class="background-primary-1 py-3 px-5 cursor-pointer text-white fs-6 text-uppercase d-inline-block fw-medium rounded-3 text-decoration-none about-hover z-1 position-relative overflow-hidden">about
                            us</a>
                        <div class="call-icon d-flex gap-2">
                            <i
                                class="fas fa-phone text-white fs-6 background-primary-2 py-3 px-4 rounded-circle d-flex justify-content-center"></i>
                            <div class="d-flex flex-column">
                                <span class="fs-6 fw-normal m-0">Booking Now</span>
                                <a class="fs-6 text-primary-1 text-decoration-none" href="tel:08005554433">0 800 555 44
                                    33</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>


</section>