<div class="breadcrumb-wrapper overflow-hidden position-relative background-primary-2">
    <div class="breadcrumb-shape position-absolute bottom-0 start-0 end-0">
        <img src="../../assets/images/Services/bottom-shape2.svg" class="w-100" alt="img">
    </div>
    <div class="container">
        <div class="breadcrumb-heading position-relative text-center">
            <div>
                <h1 class="text-white wow fadeInUp page-title" data-wow-delay=".3s">
                    <!-- Page title will be set by JavaScript -->
                </h1>
            </div>
            <ul class="breadcrumb-links wow fadeInUp list-unstyled" data-wow-delay=".5s">
                <li class="text-white text-capitalize">
                    <a href="/" class="text-white text-decoration-none">
                        Home
                    </a>
                </li>
                <li class="text-white text-capitalize">
                    <i class="fa-solid fa-chevron-right text-white"></i>
                </li>
                <li class="page-title text-white text-capitalize">
                    <!-- Page title will be set by JavaScript -->
                </li>
            </ul>
        </div>
    </div>
</div>