<div class="counter-section position-relative overflow-hidden">
    <div class="container">
        <div class="counter-container">
            <div class="counter">
                <h2>
                    <span class="count-value">799</span>
                </h2>
                <p>Active</p>
            </div>
            <div class="counter">
                <h2>
                    <span class="count-value">35</span>+
                </h2>
                <p>People</p>
            </div>
            <div class="counter">
                <h2>
                    <span class="count-value">21</span>+
                </h2>
                <p>Years </p>
            </div>
            <div class="counter border-none">
                <h2>
                    <span class="count-value">12</span>
                </h2>
                <p>Award Winner</p>
            </div>
        </div>
    </div>
</div>