<section class="why-choose-us-section position-relative">
    <div class="why-choose-us-bg-shape position-absolute bottom-0 end-0">
        <img src="../../assets/images/home/about/shapes.png" class="opacity-20" alt="img">
    </div>
    <div class="container">
        <div class="text-center">
            <h6 class="justify-content-center wow fadeInUp text-primary-1 fs-5 text-uppercase">
                <img src="../../assets/icons/wave-theme.svg" class="hero-icon" alt="img">
                Facilities
                <img src="../../assets/icons/wave-theme.svg" class="hero-icon" alt="img">
            </h6>
            <h2 class="wow fadeInUp" data-wow-delay=".2s">
                Why Choose Us
            </h2>
        </div>
        <div class="row why-us-row">
            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".3s">
                <div class="why-choose-us-image-section">
                    <div class="why-choose-us-single-image">
                        <img src="../../assets/images/home/room/lux-room-2.jpg" alt="img">
                        <div class="gt-content">
                            <h3>Romantic Escapes</h3>
                            <p>
                                Wake up to breathtaking ocean views in our elegant, serene, and beautifully
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".5s">
                <div class="why-choose-us-image-section">
                    <div class="why-choose-us-single-image">
                        <img src="../../assets/images/home/room/lux-room-1.jpg" alt="img">
                        <div class="gt-content">
                            <h3>Oceanfront Rooms</h3>
                            <p>
                                Wake up to breathtaking ocean views in our elegant, serene, and beautifully
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".7s">
                <div class="why-choose-us-image-section">
                    <div class="why-choose-us-single-image">
                        <img src="../../assets/images/home/room/lux-room-3.jpg" alt="img">
                        <div class="gt-content">
                            <h3>Hotel Diner</h3>
                            <p>
                                Wake up to breathtaking ocean views in our elegant, serene, and beautifully
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>