<section class="about-section position-relative overflow-hidden">

    <div class="container-lg px-2 py-5 position-relative z-2">
        <div class="hotel-div">
            <h4
                class="text-center text-uppercase d-flex align-items-center justify-content-center gap-2 fw-semibold mb-0 text-primary-1">
                <img src="../../assets/icons/wave-theme.svg" class="hero-icon" alt="wavy icon">
                Facilities
                <img src="../../assets/icons/wave-theme.svg" class="hero-icon rotate-360" alt="wavy icon">
            </h4>
            <h2 class="text-center mt-3 mb-0">Hotel's Facilities</h2>
            <div class="facility-section mt-4 row gy-4">
                <div class="col-12 col-md-6 col-lg-3 wow fadeInUp">
                    <div
                        class="facility-box rounded-3 d-flex flex-column align-items-center justify-content-center gap-3">
                        <img src="../../assets/icons/home/about/key-card.svg" alt="smart key icon">
                        <h5 class="m-0">Smart Key</h5>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3 wow fadeInUp">
                    <div
                        class="facility-box rounded-3 d-flex flex-column align-items-center justify-content-center gap-3 ">
                        <img src="../../assets/icons/home/about/parking.svg" alt="free car parking icon">
                        <h5 class="m-0">Free Car Parking</h5>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3 wow fadeInUp">
                    <div
                        class="facility-box rounded-3 d-flex flex-column align-items-center justify-content-center gap-3 ">
                        <img src="../../assets/icons/home/about/wifi-router.svg" alt="wifi router icon">
                        <h5 class="m-0">Free WiFi Internet</h5>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3 wow fadeInUp">
                    <div
                        class="facility-box rounded-3 d-flex flex-column align-items-center justify-content-center gap-3 ">
                        <img src="../../assets/icons/home/about/room-service.svg" alt="room service icon">
                        <h5 class="m-0">Room Service</h5>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3 wow fadeInUp">
                    <div
                        class="facility-box rounded-3 d-flex flex-column align-items-center justify-content-center gap-3 ">
                        <img src="../../assets/icons/home/about/fast-food.svg" alt="food drink icon">
                        <h5 class="m-0">Food & Drink</h5>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3 wow fadeInUp">
                    <div
                        class="facility-box rounded-3 d-flex flex-column align-items-center justify-content-center gap-3 ">
                        <img src="../../assets/icons/home/about/swimming.svg" class="transition"
                            alt="swimming pool icon">
                        <h5 class="m-0">Swimming Pool</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>