<section class="faq-section-2 overflow-hidden">
    <div class="container">
        <div class="faq-2-wrapper">
            <div class="row g-4 align-items-center">
                <div class="col-lg-6">
                    <div class="faq-2-content">
                        <div class="mb-0">
                            <h4 class="wow fadeInUp text-primary-1">
                                <img src="../../assets/icons/wave-theme.svg" class="hero-icon" alt="img">
                                Ask Question
                            </h4>
                            <h2 class="wow fadeInUp" data-wow-delay=".2s">
                                Frequently Asked Questions
                            </h2>
                        </div>
                        <p class="faq-2-text wow fadeInUp" data-wow-delay=".5s">
                            Have questions about your stay, booking process, or our services? You're in the right
                            place. We’ve compiled answers to the most common inquiries from our guests to help you plan
                            your trip with confidence. From check-in times to special amenities, this section is
                            designed to give you quick and helpful information at a glance.
                        </p>
                        <div class="faq-2-button wow fadeInUp" data-wow-delay=".7s">
                            <a href="contact.html"
                                class="main-theme-colored-btn blog-title-hover-btn text-decoration-none">
                                CONTACT US
                            </a>
                            <a href="about.html" class="main-theme-colored-btn faq-snd-hover-btn text-decoration-none">
                                ABOUT US
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp">
                    <div class="faq-items mt-0 ms-0">
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item wow fadeInUp" data-wow-delay=".3s">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Is breakfast included in the room rate?
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show"
                                    aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            Check-in is from 2:00 PM, and check-out is by 12:00 PM. Early check-in and
                                            late check-out are subject to availability.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item wow fadeInUp" data-wow-delay=".5s">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        1. What time is check-in and check-out?
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            Check-in is from 2:00 PM, and check-out is by 12:00 PM. Early check-in and
                                            late check-out are subject to availability.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item wow fadeInUp" data-wow-delay=".7s">
                                <h2 class="accordion-header" id="headingthree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapsethree" aria-expanded="false"
                                        aria-controls="collapsethree">
                                        What are the cancellation and refund policies?
                                    </button>
                                </h2>
                                <div id="collapsethree" class="accordion-collapse collapse"
                                    aria-labelledby="headingthree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            Check-in is from 2:00 PM, and check-out is by 12:00 PM. Early check-in and
                                            late check-out are subject to availability.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item mb-0 wow fadeInUp" data-wow-delay=".3s">
                                <h2 class="accordion-header" id="headingfour">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapsefour" aria-expanded="false"
                                        aria-controls="collapsefour">
                                        Are there family-friendly activities?
                                    </button>
                                </h2>
                                <div id="collapsefour" class="accordion-collapse collapse" aria-labelledby="headingfour"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            Check-in is from 2:00 PM, and check-out is by 12:00 PM. Early check-in and
                                            late check-out are subject to availability.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>