<footer class="shaden-footer-section overflow-hidden background-primary-2 position-relative">
    <div class="container position-relative z-99">
        <div class="shaden-footer-container">
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-12 wow fadeInUp" data-wow-delay=".2s">
                    <div class="footer-items">
                        <div class="footer-item-heading">
                            <a href="#" class="footer-logo">
                                <img src="../../assets/images/primary-logo-bg-remove.png" alt="img">
                            </a>
                        </div>
                        <div class="footer-content">
                            <p class="text-white">
                                At Arlux, we believe luxury is not just a destination—it’s a feeling, an experience, and
                                a way of life
                            </p>
                            <div class="social-icons d-flex align-items-center">
                                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".4s">
                    <div class="footer-items">
                        <div class="footer-item-heading">
                            <h3 class="fs-4 text-white">Useful links</h3>
                        </div>
                        <ul class="footer-links list-unstyled">
                            <li>
                                <a href="index.html">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="about.html">
                                    About
                                </a>
                            </li>
                            <li>
                                <a href="room.html">
                                    Rooms
                                </a>
                            </li>
                            <li>
                                <a href="news.html">
                                    Blog
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".6s">
                    <div class="footer-items">
                        <div class="footer-item-heading">
                            <h3 class="fs-4 text-white">Working Hours</h3>
                        </div>
                        <ul class="active-hours list-unstyled">
                            <li class="width-fit">
                                Mon to Fri : <span>08:00 - 11:00</span>
                            </li>
                            <li class="width-fit">
                                Saturday : <span>08:00 - 11:00</span>
                            </li>
                            <li class="width-fit">
                                Sunday : <span>Closed</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".8s">
                    <div class="footer-items">
                        <div class="footer-item-heading">
                            <h3 class="fs-4 text-white">Contact Us</h3>
                        </div>
                        <ul class="contact-info list-unstyled">
                            <li>
                                <i class="fas fa-map-marker-alt text-primary-1"></i>
                                <p class="m-0">UK, 1212; 102/B New Elephant Road London</p>
                            </li>
                            <li>
                                <i class="fas fa-envelope text-primary-1"></i>
                                <a href="mailto:info@example.com">info@example.com</a>
                            </li>
                            <li>
                                <i class="fas fa-phone text-primary-1"></i>
                                <a href="tel:0945424780">(094) 542 - 4780</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom wow fadeInUp" data-wow-delay=".3s">
        <div class="container">
            <div
                class="footer-bottom-wrapper d-flex align-items-lg-center justify-content-between flex-md-row flex-column">
                <p>
                    Copyright© <a href="#" class="text-decoration-none">SHADEN</a>
                </p>
                <ul class="list-unstyled flex-column flex-md-row align-items-md-center">
                    <li>
                        <a href="#">
                            Terms & Conditions
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Privacy Policy
                        </a>
                    </li>
                    <li>
                        <a href="contact.html">
                            Contact Us
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="position-absolute bottom-0 start-0 footer-transparent-img d-none d-lg-block">
        <img src="../../assets/images/home/about/shapes.png" />
    </div>
</footer>