<header>
    <div class="top-header d-none d-lg-block background-primary-1">

        <div
            class="px-2 py-1 d-flex justify-content-between align-items-center flex-lg-nowrap flex-wrap gap-lg-0 gap-3 container-lg">
            <div class="d-flex align-items-center gap-2 flex-lg-nowrap flex-wrap">
                <a href="#" class="text-white text-decoration-none"><i class='fas fa-phone'></i> +123 25355223</a>
                <a href="#" class="text-white text-decoration-none"><i class='fas fa-mail-bulk'></i> info@sample.com</a>
                <a href="#" class="text-white text-decoration-none"><i class='fas fa-map-marker-alt'></i>lorem loire</a>
            </div>

            <div class="d-flex align-items-center gap-2 justify-content-lg-end justify-content-between">
                <a href="#" class="text-white text-decoration-none"><i class='fab fa-linkedin'></i></a>
                <a href="#" class="text-white text-decoration-none"><i class='fab fa-twitter'></i></a>
                <a href="#" class="text-white text-decoration-none"><i class='fab fa-instagram'></i></a>
                <a href="#" class="text-white text-decoration-none"><i class='fab fa-facebook-f'></i></a>
            </div>

        </div>
    </div>

    <div class="main-header sticky-header background-primary-2">
        <div class="container-lg px-2 py-4 d-flex justify-content-between align-items-lg-center ">
            <img src="../../assets/images/primary-logo-bg-remove.png" class="width-3" />
            <nav class="navbar navbar-dark navbar-expand-lg">
                <button class="navbar-toggler background-primary-1" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse shaden-collapsible-div" id="navbarNav">
                    <div class="d-flex d-lg-none justify-content-between align-items-center mb-3 mobile-hamburger-header"
                        data-bs-toggle="collapse" data-bs-target="#navbarNav">
                        <img src="../../assets/images/primary-logo-bg-remove.png" class="width-3" />
                        <button
                            class="background-primary-1 rounded-3 d-flex align-items-center justify-content-center p-2">
                            <i class="fas fa-times text-white"></i>
                        </button>
                    </div>
                    <ul class="navbar-nav d-flex flex-lg-row gap-2 gap-lg-4 mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-white text-decoration-none fw-semibold" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white text-decoration-none fw-semibold" href="#">Pages</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white text-decoration-none fw-semibold"
                                href="services.html">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white text-decoration-none fw-semibold"
                                href="hotel-details.html">Room</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white text-decoration-none fw-semibold" href="#">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white text-decoration-none fw-semibold" href="contact.html">Contact
                                Us</a>
                        </li>
                    </ul>
                    <div class="d-lg-none d-flex flex-column mt-4">
                        <h5 class="text-white text-uppercase">Contact info</h5>
                        <div class="d-flex flex-column gap-3 mt-3">
                            <a href="#"
                                class="text-white text-decoration-none text-capitalize d-flex align-items-center gap-3 width-fit"><i
                                    class='fas fa-map-marker-alt text-primary-1'></i>main street,
                                melbourne,
                                Australia</a>
                            <a href="#"
                                class="text-white text-decoration-none d-flex align-items-center gap-3 width-fit"><i
                                    class='far fa-envelope text-primary-1'></i>
                                info@sample.com</a>
                            <a href="#"
                                class="text-white text-decoration-none d-flex align-items-center gap-3 width-fit"><i
                                    class='far fa-clock text-primary-1'></i> Mod-Friday: 09am-06pm</a>
                            <a href="#"
                                class="text-white text-decoration-none d-flex align-items-center gap-3 width-fit"><i
                                    class='fas fa-phone text-primary-1'></i> +123
                                25355223</a>
                        </div>
                        <a class="py-3 px-4 text-uppercase text-white text-decoration-none fw-semibold rounded-3 book-now-mobile background-primary-1 position-relative overflow-hidden z-1 mt-4"
                            href="contact.html">
                            book now
                        </a>
                        <div class="d-flex align-items-center gap-4 mt-5">
                            <a href="#" class="text-white text-decoration-none fs-4"><i
                                    class='fab fa-facebook-f text-primary-1'></i></a>
                            <a href="#" class="text-white text-decoration-none fs-4"><i
                                    class='fab fa-twitter text-primary-1'></i></a>
                            <a href="#" class="text-white text-decoration-none fs-4"><i
                                    class='fab fa-youtube text-primary-1'></i></a>
                            <a href="#" class="text-white text-decoration-none fs-4"><i
                                    class='fab fa-linkedin-in text-primary-1'></i></a>
                        </div>
                    </div>
                </div>
            </nav>

            <a class="py-3 px-4 text-uppercase text-white text-decoration-none fw-semibold rounded-3 book-now d-none d-lg-block h-100 background-primary-1 position-relative overflow-hidden z-1 header-hover-btn"
                href="contact.html">
                book now
            </a>
        </div>
    </div>
</header>