<div class="instagram-section pb-0 overflow-hidden section-bg">
    <div class="container insta-title-section">
        <div class="section-title text-center">
            <h6 class="justify-content-center wow fadeInUp text-primary-1">
                <img src="../../assets/icons/wave-theme.svg" class="hero-icon" alt="img">
                OUR INSTAGRAM
                <img src="../../assets/icons/wave-theme.svg" class="hero-icon rotate-360" alt="img">
            </h6>
            <h2 class="wow fadeInUp" data-wow-delay=".2s">
                Arlux Hotel Theme
            </h2>
        </div>
    </div>
    <div class="swiper instagram-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="instagram-image"
                    style="background-image: url('../../assets/images/home/instagram/insta-1.jpg');">
                    <!-- <img src="../../assets/images/home/instagram/insta-1.jpg" alt="img"> -->
                    <a href="#" class="instagram-icon">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="instagram-image"
                    style="background-image: url('../../assets/images/home/instagram/insta-2.jpg');">
                    <!-- <img src="../../assets/images/home/instagram/insta-2.jpg" alt="img"> -->
                    <a href="#" class="instagram-icon">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="instagram-image"
                    style="background-image: url('../../assets/images/home/instagram/insta-3.jpg');">
                    <!-- <img src="../../assets/images/home/instagram/insta-3.jpg" alt="img"> -->
                    <a href="#" class="instagram-icon">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="instagram-image"
                    style="background-image: url('../../assets/images/home/instagram/insta-4.jpg');">
                    <!-- <img src="../../assets/images/home/instagram/insta-4.jpg" alt="img"> -->
                    <a href="#" class="instagram-icon">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="instagram-image"
                    style="background-image: url('../../assets/images/home/instagram/insta-5.jpg');">
                    <!-- <img src="../../assets/images/home/instagram/insta-5.jpg" alt="img"> -->
                    <a href="#" class="instagram-icon">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="instagram-image"
                    style="background-image: url('../../assets/images/home/instagram/insta-6.jpg');">
                    <!-- <img src="../../assets/images/home/instagram/06.jpg" alt="img"> -->
                    <a href="#" class="instagram-icon">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>