<!-- GT Foods Menu Section Start -->
<section class="food-menu-section py-5 overflow-hidden">
    <div class="container">
        <div class="text-center">
            <h6
                class="text-center text-uppercase d-flex align-items-center justify-content-center gap-2 fw-semibold mb-0 text-primary-1 fs-5">
                <img src="../../assets/icons/wave-theme.svg" alt="img" class="hero-icon-default">
                F O O D S
                <img src="../../assets/icons/wave-theme.svg" alt="img" class="hero-icon-default">
            </h6>
            <h2 class="wow fadeInUp fs-2 mt-3" data-wow-delay=".2s">
                Arlux Foods Menu
            </h2>
        </div>
        <ul class="nav">
            <li class="nav-item wow fadeInUp" data-wow-delay=".2s">
                <a href="#Food" data-bs-toggle="tab" class="nav-link active">
                    <img src="../../assets/icons/home/about/fast-food.svg" alt="img" class="width-3 me-1">
                    Fast Food
                </a>
            </li>
            <li class="nav-item wow fadeInUp" data-wow-delay=".4s">
                <a href="#Pasta" data-bs-toggle="tab" class="nav-link">
                    <img src="../../assets/icons/common/pasta.svg" alt="img" class="width-3 me-1">
                    Fresh Pasta
                </a>
            </li>
            <li class=" nav-item wow fadeInUp" data-wow-delay=".6s">
                <a href="#Pizza" data-bs-toggle="tab" class="nav-link">
                    <img src="../../assets/icons/common/pizza.svg" alt="img" class="width-3 me-1">
                    Chicken Pizza
                </a>
            </li>
            <li class=" nav-item wow fadeInUp" data-wow-delay=".6s">
                <a href="#Drink" data-bs-toggle="tab" class="nav-link">
                    <img src="../../assets/icons/common/drink.svg" alt="img" class="width-3 me-1">
                    Drink & Juice
                </a>
            </li>
        </ul>
        <div class=" tab-content">
            <div id="Food" class="tab-pane fade show active">
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="food-menu-list">
                            <li>
                                <div class="food-details-div">
                                    <div class="food-image">
                                        <img src="../../assets/images/Restaurant Details/01.png" alt="img">
                                    </div>
                                    <div class="food-content">
                                        <h3>Chinese Pasta</h3>
                                        <p>It's a Hotel Testament to our.</p>
                                    </div>
                                </div>
                                <span>$15.99</span>
                            </li>
                        </ul>
                        <ul class="food-menu-list">
                            <li>
                                <div class="food-details-div">
                                    <div class="food-image">
                                        <img src="../../assets/images/Restaurant Details/01.png" alt="img">
                                    </div>
                                    <div class="food-content">
                                        <h3>Chicken Pizza</h3>
                                        <p>It's a Hotel Testament to our.</p>
                                    </div>
                                </div>
                                <span>$15.99</span>
                            </li>
                        </ul>
                        <ul class="food-menu-list">
                            <li>
                                <div class="food-details-div">
                                    <div class="food-image">
                                        <img src="../../assets/images/Restaurant Details/01.png" alt="img">
                                    </div>
                                    <div class="food-content">
                                        <h3>Chicken White Rice</h3>
                                        <p>It's a Hotel Testament to our.</p>
                                    </div>
                                </div>
                                <span>$15.99</span>
                            </li>
                        </ul>
                        <ul class="food-menu-list">
                            <li>
                                <div class="food-details-div">
                                    <div class="food-image">
                                        <img src="../../assets/images/Restaurant Details/01.png" alt="img">
                                    </div>
                                    <div class="food-content">
                                        <h3>Chicken White Rice</h3>
                                        <p>It's a Hotel Testament to our.</p>
                                    </div>
                                </div>
                                <span>$15.99</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul class="food-menu-list">
                            <li>
                                <div class="food-details-div">
                                    <div class="food-image">
                                        <img src="../../assets/images/Restaurant Details/01.png" alt="img">
                                    </div>
                                    <div class="food-content">
                                        <h3>Egg and Cucumber</h3>
                                        <p>It's a Hotel Testament to our.</p>
                                    </div>
                                </div>
                                <span>$15.99</span>
                            </li>
                        </ul>
                        <ul class="food-menu-list">
                            <li>
                                <div class="food-details-div">
                                    <div class="food-image">
                                        <img src="../../assets/images/Restaurant Details/01.png" alt="img">
                                    </div>
                                    <div class="food-content">
                                        <h3>Spatial Barger</h3>
                                        <p>It's a Hotel Testament to our.</p>
                                    </div>
                                </div>
                                <span>$15.99</span>
                            </li>
                        </ul>
                        <ul class="food-menu-list">
                            <li>
                                <div class="food-details-div">
                                    <div class="food-image">
                                        <img src="../../assets/images/Restaurant Details/01.png" alt="img">
                                    </div>
                                    <div class="food-content">
                                        <h3>Chicken Noodles</h3>
                                        <p>It's a Hotel Testament to our.</p>
                                    </div>
                                </div>
                                <span>$15.99</span>
                            </li>
                        </ul>
                        <ul class="food-menu-list">
                            <li>
                                <div class="food-details-div">
                                    <div class="food-image">
                                        <img src="../../assets/images/Restaurant Details/01.png" alt="img">
                                    </div>
                                    <div class="food-content">
                                        <h3>Grilled Chicken</h3>
                                        <p>It's a Hotel Testament to our.</p>
                                    </div>
                                </div>
                                <span>$15.99</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="Pasta" class="tab-pane fade">
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="food-menu-list">
                            <li>
                                <div class="food-details-div">
                                    <div class="food-image">
                                        <img src="../../assets/images/Restaurant Details/01.png" alt="img">
                                    </div>
                                    <div class="food-content">
                                        <h3>Chinese Pasta</h3>
                                        <p>It's a Hotel Testament to our.</p>
                                    </div>
                                </div>
                                <span>$15.99</span>
                            </li>
                        </ul>
                        <ul class="food-menu-list">
                            <li>
                                <div class="food-image">
                                    <img src="../../assets/images/Restaurant Details/01.png" alt="img">
                                </div>
                                <div class="food-content">
                                    <h3>Chicken Pizza</h3>
                                    <p>It's a Hotel Testament to our.</p>
                                </div>
                                <span>$15.99</span>
                            </li>
                        </ul>
                        <ul class="food-menu-list">
                            <li>
                                <div class="food-details-div">
                                    <div class="food-image">
                                        <img src="../../assets/images/Restaurant Details/01.png" alt="img">
                                    </div>
                                    <div class="food-content">
                                        <h3>Chicken White Rice</h3>
                                        <p>It's a Hotel Testament to our.</p>
                                    </div>
                                </div>
                                <span>$15.99</span>
                            </li>
                        </ul>
                        <ul class="food-menu-list">
                            <li>
                                <div class="food-details-div">
                                    <div class="food-image">
                                        <img src="../../assets/images/Restaurant Details/01.png" alt="img">
                                    </div>
                                    <div class="food-content">
                                        <h3>Chicken White Rice</h3>
                                        <p>It's a Hotel Testament to our.</p>
                                    </div>
                                </div>
                                <span>$15.99</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul class="food-menu-list">
                            <li>
                                <div class="food-details-div">
                                    <div class="food-image">
                                        <img src="../../assets/images/Restaurant Details/01.png" alt="img">
                                    </div>
                                    <div class="food-content">
                                        <h3>Egg and Cucumber</h3>
                                        <p>It's a Hotel Testament to our.</p>
                                    </div>
                                </div>
                                <span>$15.99</span>
                            </li>
                        </ul>
                        <ul class="food-menu-list">
                            <li>
                                <div class="food-details-div">
                                    <div class="food-image">
                                        <img src="../../assets/images/Restaurant Details/01.png" alt="img">
                                    </div>
                                    <div class="food-content">
                                        <h3>Spatial Barger</h3>
                                        <p>It's a Hotel Testament to our.</p>
                                    </div>
                                </div>
                                <span>$15.99</span>
                            </li>
                        </ul>
                        <ul class="food-menu-list">
                            <li>
                                <div class="food-details-div">
                                    <div class="food-image">
                                        <img src="../../assets/images/Restaurant Details/01.png" alt="img">
                                    </div>
                                    <div class="food-content">
                                        <h3>Chicken Noodles</h3>
                                        <p>It's a Hotel Testament to our.</p>
                                    </div>
                                </div>
                                <span>$15.99</span>
                            </li>
                        </ul>
                        <ul class="food-menu-list">
                            <li>
                                <div class="food-details-div">
                                    <div class="food-image">
                                        <img src="../../assets/images/Restaurant Details/01.png" alt="img">
                                    </div>
                                    <div class="food-content">
                                        <h3>Grilled Chicken</h3>
                                        <p>It's a Hotel Testament to our.</p>
                                    </div>
                                </div>
                                <span>$15.99</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="Pizza" class="tab-pane fade">
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="food-menu-list">
                            <li>
                                <div class="food-details-div">
                                    <div class="food-image">
                                        <img src="../../assets/images/Restaurant Details/01.png" alt="img">
                                    </div>
                                    <div class="food-content">
                                        <h3>Chinese Pasta</h3>
                                        <p>It's a Hotel Testament to our.</p>
                                    </div>
                                </div>
                                <span>$15.99</span>
                            </li>
                        </ul>
                        <ul class="food-menu-list">
                            <li>
                                <div class="food-details-div">
                                    <div class="food-image">
                                        <img src="../../assets/images/Restaurant Details/01.png" alt="img">
                                    </div>
                                    <div class="food-content">
                                        <h3>Chicken Pizza</h3>
                                        <p>It's a Hotel Testament to our.</p>
                                    </div>
                                </div>
                                <span>$15.99</span>
                            </li>
                        </ul>
                        <ul class="food-menu-list">
                            <li>
                                <div class="food-details-div">
                                    <div class="food-image">
                                        <img src="../../assets/images/Restaurant Details/01.png" alt="img">
                                    </div>
                                    <div class="food-content">
                                        <h3>Chicken White Rice</h3>
                                        <p>It's a Hotel Testament to our.</p>
                                    </div>
                                </div>
                                <span>$15.99</span>
                            </li>
                        </ul>
                        <ul class="food-menu-list">
                            <li>
                                <div class="food-details-div">
                                    <div class="food-image">
                                        <img src="../../assets/images/Restaurant Details/01.png" alt="img">
                                    </div>
                                    <div class="food-content">
                                        <h3>Chicken White Rice</h3>
                                        <p>It's a Hotel Testament to our.</p>
                                    </div>
                                </div>
                                <span>$15.99</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul class="food-menu-list">
                            <li>
                                <div class="food-details-div">
                                    <div class="food-image">
                                        <img src="../../assets/images/Restaurant Details/01.png" alt="img">
                                    </div>
                                    <div class="food-content">
                                        <h3>Egg and Cucumber</h3>
                                        <p>It's a Hotel Testament to our.</p>
                                    </div>
                                </div>
                                <span>$15.99</span>
                            </li>
                        </ul>
                        <ul class="food-menu-list">
                            <li>
                                <div class="food-details-div">
                                    <div class="food-image">
                                        <img src="../../assets/images/Restaurant Details/01.png" alt="img">
                                    </div>
                                    <div class="food-content">
                                        <h3>Spatial Barger</h3>
                                        <p>It's a Hotel Testament to our.</p>
                                    </div>
                                </div>
                                <span>$15.99</span>
                            </li>
                        </ul>
                        <ul class="food-menu-list">
                            <li>
                                <div class="food-details-div">
                                    <div class="food-image">
                                        <img src="../../assets/images/Restaurant Details/01.png" alt="img">
                                    </div>
                                    <div class="food-content">
                                        <h3>Chicken Noodles</h3>
                                        <p>It's a Hotel Testament to our.</p>
                                    </div>
                                </div>
                                <span>$15.99</span>
                            </li>
                        </ul>
                        <ul class="food-menu-list">
                            <li>
                                <div class="food-details-div">
                                    <div class="food-image">
                                        <img src="../../assets/images/Restaurant Details/01.png" alt="img">
                                    </div>
                                    <div class="food-content">
                                        <h3>Grilled Chicken</h3>
                                        <p>It's a Hotel Testament to our.</p>
                                    </div>
                                </div>
                                <span>$15.99</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="Drink" class="tab-pane fade">
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="food-menu-list">
                            <li>
                                <div class="food-details-div">
                                    <div class="food-image">
                                        <img src="../../assets/images/Restaurant Details/01.png" alt="img">
                                    </div>
                                    <div class="food-content">
                                        <h3>Chinese Pasta</h3>
                                        <p>It's a Hotel Testament to our.</p>
                                    </div>
                                </div>
                                <span>$15.99</span>
                            </li>
                        </ul>
                        <ul class="food-menu-list">
                            <li>
                                <div class="food-details-div">
                                    <div class="food-image">
                                        <img src="../../assets/images/Restaurant Details/01.png" alt="img">
                                    </div>
                                    <div class="food-content">
                                        <h3>Chicken Pizza</h3>
                                        <p>It's a Hotel Testament to our.</p>
                                    </div>
                                </div>
                                <span>$15.99</span>
                            </li>
                        </ul>
                        <ul class="food-menu-list">
                            <li>
                                <div class="food-details-div">
                                    <div class="food-image">
                                        <img src="../../assets/images/Restaurant Details/01.png" alt="img">
                                    </div>
                                    <div class="food-content">
                                        <h3>Chicken White Rice</h3>
                                        <p>It's a Hotel Testament to our.</p>
                                    </div>
                                </div>
                                <span>$15.99</span>
                            </li>
                        </ul>
                        <ul class="food-menu-list">
                            <li>
                                <div class="food-details-div">
                                    <div class="food-image">
                                        <img src="../../assets/images/Restaurant Details/01.png" alt="img">
                                    </div>
                                    <div class="food-content">
                                        <h3>Chicken White Rice</h3>
                                        <p>It's a Hotel Testament to our.</p>
                                    </div>
                                </div>
                                <span>$15.99</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul class="food-menu-list">
                            <li>
                                <div class="food-details-div">
                                    <div class="food-image">
                                        <img src="../../assets/images/Restaurant Details/01.png" alt="img">
                                    </div>
                                    <div class="food-content">
                                        <h3>Egg and Cucumber</h3>
                                        <p>It's a Hotel Testament to our.</p>
                                    </div>
                                </div>
                                <span>$15.99</span>
                            </li>
                        </ul>
                        <ul class="food-menu-list">
                            <li>
                                <div class="food-details-div">
                                    <div class="food-image">
                                        <img src="../../assets/images/Restaurant Details/01.png" alt="img">
                                    </div>
                                    <div class="food-content">
                                        <h3>Spatial Barger</h3>
                                        <p>It's a Hotel Testament to our.</p>
                                    </div>
                                </div>
                                <span>$15.99</span>
                            </li>
                        </ul>
                        <ul class="food-menu-list">
                            <li>
                                <div class="food-details-div">
                                    <div class="food-image">
                                        <img src="../../assets/images/Restaurant Details/01.png" alt="img">
                                    </div>
                                    <div class="food-content">
                                        <h3>Chicken Noodles</h3>
                                        <p>It's a Hotel Testament to our.</p>
                                    </div>
                                </div>
                                <span>$15.99</span>
                            </li>
                        </ul>
                        <ul class="food-menu-list">
                            <li>
                                <div class="food-details-div">
                                    <div class="food-image">
                                        <img src="../../assets/images/Restaurant Details/01.png" alt="img">
                                    </div>
                                    <div class="food-content">
                                        <h3>Grilled Chicken</h3>
                                        <p>It's a Hotel Testament to our.</p>
                                    </div>
                                </div>
                                <span>$15.99</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>