<section class="room-explore-section-2 overflow-hidden bg-cover"
    style="background-image: url('../../assets/images/home/room/explore-bg.png');">
    <div class="container">
        <div class="d-flex align-items-center justify-content-between flex-wrap position-relative z-99">
            <div>
                <h6 class="wow fadeInUp text-primary-1">
                    <img src="../../assets/icons/wave-theme.svg" class="hero-icon" alt="img">
                    Explore
                </h6>
                <h2 class="text-white fadeInUp" data-wow-delay=".2s">
                    Rooms & Suites
                </h2>
            </div>
            <a href="room.html" class="main-theme-colored-btn header-hover-btn text-decoration-none wow fadeInUp"
                data-wow-delay=".4s">VIEW DETAILS</a>
        </div>
        <div class="gt-room-explore-wrapper">
            <div class="swiper gt-room-explore-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="gt-room-explore-items bg-cover"
                            style="background-image: url('../../assets/images/home/room/01.jpg');">
                            <div class="row justify-content-end">
                                <div class="col-xl-5 col-lg-6">
                                    <div class="gt-room-exlore-box-items">
                                        <span class="gt-rate-title">
                                            Rates From
                                            $120
                                        </span>
                                        <h3>
                                            <a href="room-details.html"
                                                class="text-primary-2 text-decoration-none">Presidential Beachfront
                                                Villa</a>
                                        </h3>
                                        <p>The pinnacle of seaside luxury—private pool, personal butler service, and
                                            breathtaking beachfront location.</p>
                                        <ul class="list-unstyled">
                                            <li>
                                                <span>Capocity</span>
                                                : 2 Persons
                                            </li>
                                            <li>
                                                <span>Size</span>
                                                : 80 sqr
                                            </li>
                                            <li>
                                                <span>Bed</span>
                                                : Kind Bed
                                            </li>
                                            <li>
                                                <span>Services</span>
                                                : Free Breakfast, Free Wifi, Free Water
                                            </li>
                                            <li>
                                                <span>View</span>
                                                : Dramatic City Views
                                            </li>
                                        </ul>
                                        <a href="room-details.html"
                                            class="main-theme-colored-btn text-decoration-none">ROOM DETAILS</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gt-room-explore-items bg-cover"
                            style="background-image: url('../../assets/images/home/room/01.jpg');">
                            <div class="row justify-content-end">
                                <div class="col-xl-5 col-lg-6">
                                    <div class="gt-room-exlore-box-items">
                                        <span class="gt-rate-title">
                                            Rates From
                                            $120
                                        </span>
                                        <h3>
                                            <a href="room-details.html" class="text-primary-2 text-decoration-none">
                                                Presidential Beachfront Villa</a>
                                        </h3>
                                        <p>The pinnacle of seaside luxury—private pool, personal butler service, and
                                            breathtaking beachfront location.</p>
                                        <ul class="list-unstyled">
                                            <li>
                                                <span>Capocity</span>
                                                : 2 Persons
                                            </li>
                                            <li>
                                                <span>Size</span>
                                                : 80 sqr
                                            </li>
                                            <li>
                                                <span>Bed</span>
                                                : Kind Bed
                                            </li>
                                            <li>
                                                <span>Services</span>
                                                : Free Breakfast, Free Wifi, Free Water
                                            </li>
                                            <li>
                                                <span>View</span>
                                                : Dramatic City Views
                                            </li>
                                        </ul>
                                        <a href="room-details.html"
                                            class="main-theme-colored-btn text-decoration-none">ROOM DETAILS</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gt-room-explore-items bg-cover"
                            style="background-image: url('../../assets/images/home/room/01.jpg');">
                            <div class="row justify-content-end">
                                <div class="col-xl-5 col-lg-6">
                                    <div class="gt-room-exlore-box-items">
                                        <span class="gt-rate-title">
                                            Rates From
                                            $120
                                        </span>
                                        <h3>
                                            <a href="room-details.html" class="text-primary-2 text-decoration-none">
                                                Presidential Beachfront Villa</a>
                                        </h3>
                                        <p>The pinnacle of seaside luxury—private pool, personal butler service, and
                                            breathtaking beachfront location.</p>
                                        <ul class="list-unstyled">
                                            <li>
                                                <span>Capocity</span>
                                                : 2 Persons
                                            </li>
                                            <li>
                                                <span>Size</span>
                                                : 80 sqr
                                            </li>
                                            <li>
                                                <span>Bed</span>
                                                : Kind Bed
                                            </li>
                                            <li>
                                                <span>Services</span>
                                                : Free Breakfast, Free Wifi, Free Water
                                            </li>
                                            <li>
                                                <span>View</span>
                                                : Dramatic City Views
                                            </li>
                                        </ul>
                                        <a href="room-details.html"
                                            class="main-theme-colored-btn text-decoration-none">ROOM DETAILS</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>