<section class="room-booking-section overflow-hidden position-relative mt-3 pb-0">
    <div class="room-booking-video video-banner-section parallaxie bg-cover">

        <!-- Iframe For Youtube And Online Hosted Videos, Video Tag For Normal Local Stored Videos -->

        <!-- <video autoplay muted loop playsinline class="background-video"
            poster="../assets/images/home/booking/video-hotel-bg.webp">
            <source src="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" type="video/mp4">
        </video> -->
        <iframe class="video-bg-iframe"
            src="https://www.youtube.com/embed/Cn4G2lZ_g2I?autoplay=1&mute=1&loop=1&playlist=Cn4G2lZ_g2I&controls=0&modestbranding=1&rel=0"
            frameborder="0" allow="autoplay; fullscreen"></iframe>


        <div class="booking-video-items">
            <div class="container px-2">
                <div>
                    <div class="text-center z-99 position-relative">
                        <h1
                            class="justify-content-center wow fadeInUp text-primary-1 d-flex gap-2 fw-bold align-items-center text-white text-uppercase">
                            Getting a seat
                        </h1>
                        <h6 class="text-white wow fadeInUp mt-3" data-wow-delay=".2s">
                            Locate and Reserve Your Seats
                        </h6>
                    </div>
                    <button class="book-form-submit book-hover-btn w-100 mt-5" type="button">SEARCH
                        NOW</button>
                </div>
            </div>
        </div>
    </div>
</section>