<section class="room-details-section">
    <div class="container">
        <div class="service-details-container">
            <div class="row g-4">
                <div class="col-lg-8">
                    <div class="service-details">
                        <div class="w-100 h-100 rounded-2 s-d-bg-img"
                            style="background-image: url('../../assets/images/home/exclusive-deals/family-package.jpg');">
                        </div>
                        <div class="service-details-content">
                            <h2>Family Fun Package</h2>
                            <p>
                                Planning a trip for the whole family? Our Family Fun Package is designed to offer
                                comfort, entertainment, and unforgettable moments for guests of all ages. Book now for a
                                stay filled with laughter, relaxation, and family bonding.
                            </p>
                            <span class="services-details-quote-section">
                                Our team of UI/UX experts conducts a thorough evaluation o the submitted element,
                                analyzing its usability, functionality
                            </span>
                            <div class="details-list-item">
                                <h3>Package Inclusions:</h3>
                                <ul class="list-unstyled">
                                    <li>
                                        <span>
                                            <i class="fa-solid fa-circle-check"></i>
                                            Family-Size Room or Suite
                                        </span>
                                        Spacious accommodations with extra beds or connecting rooms, ideal for families.
                                    </li>
                                    <li>
                                        <span>
                                            <i class="fa-solid fa-circle-check"></i>
                                            Daily Breakfast Buffet for the Family
                                        </span>
                                        A variety of kid-friendly and healthy options included each morning.
                                    </li>
                                    <li>
                                        <span>
                                            <i class="fa-solid fa-circle-check"></i>
                                            Welcome Gifts for Children
                                        </span>
                                        Fun surprises like toys, coloring books, or snack packs upon arrival.
                                    </li>
                                    <li>
                                        <span>
                                            <i class="fa-solid fa-circle-check"></i>
                                            Complimentary Kids’ Club Access
                                        </span>
                                        Supervised activities, games, and crafts for different age groups.
                                    </li>
                                    <li>
                                        <span>
                                            <i class="fa-solid fa-circle-check"></i>
                                            Family Movie Night Experience
                                        </span>
                                        njoy in-room movie setup or join our weekly family movie screenings with
                                        popcorn.
                                    </li>
                                    <li>
                                        <span>
                                            <i class="fa-solid fa-circle-check"></i>
                                            Kids Eat Free (Under Age 6)
                                        </span>
                                        Special dining benefits when ordering from the children’s menu with a paying
                                        adult.
                                    </li>
                                    <li>
                                        <span>
                                            <i class="fa-solid fa-circle-check"></i>
                                            Access to Family Pool & Kids’ Play Area
                                        </span>
                                        Safe, clean recreational areas for fun and relaxation.
                                    </li>
                                    <li>
                                        <span>
                                            <i class="fa-solid fa-circle-check"></i>
                                            Free Late Check-Out (Based on Availability)
                                        </span>
                                        Enjoy a little more time before departure.
                                    </li>
                                </ul>
                            </div>
                            <div class="row g-4">
                                <div class="col-md-6">
                                    <div class="s-d-gallery-img w-100 h-100 rounded-3"
                                        style="background-image: url('../../assets/images/home/exclusive-deals/family-package-2.jpg');">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="s-d-gallery-img w-100 h-100 rounded-3"
                                        style="background-image: url('../../assets/images/home/exclusive-deals/spa-beauty-center.jpg');">
                                    </div>
                                </div>
                            </div>
                            <div class="details-list-item">
                                <h3>Booking Info:</h3>
                                <ul class="list-unstyled">
                                    <li>
                                        <span>
                                            <i class="fa-solid fa-circle-check"></i>
                                            Availability:
                                        </span>
                                        Year-round (subject to blackout dates)
                                    </li>
                                    <li>
                                        <span>
                                            <i class="fa-solid fa-circle-check"></i>
                                            Minimum Stay:
                                        </span>
                                        2 nights
                                    </li>
                                    <li>
                                        <span>
                                            <i class="fa-solid fa-circle-check"></i>
                                            How to Book:
                                        </span>
                                        Select the Family Fun Package when reserving your room online or contact our
                                        reservations team.
                                    </li>
                                    <li>
                                        <span>
                                            <i class="fa-solid fa-circle-check"></i>
                                            Cancellation Policy:
                                        </span>
                                        Flexible options available (check specific rates)
                                    </li>
                                </ul>
                            </div>
                            <div class="faq-content">
                                <h3>Frequently Asked Question</h3>
                                <div class="faq-accordion">
                                    <div class="accordion" id="accordion">
                                        <div class="accordion-item mb-4 wow fadeInUp" data-wow-delay=".5s">
                                            <h5 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#faq1"
                                                    aria-expanded="false" aria-controls="faq1">
                                                    Can I participate in events without being a member?
                                                </button>
                                            </h5>
                                            <div id="faq1" class="accordion-collapse collapse"
                                                data-bs-parent="#accordion">
                                                <div class="accordion-body">
                                                    Yes! We offer races and track days tailored for all skill levels.
                                                    Whether you're a beginner or a seasoned pro, you'll find exciting
                                                    challenges and opportunities to improve.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item mb-4 wow fadeInUp" data-wow-delay=".3s">
                                            <h5 class="accordion-header">
                                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#faq2" aria-expanded="true" aria-controls="faq2">
                                                    Are there events for beginners and experienced racers?
                                                </button>
                                            </h5>
                                            <div id="faq2" class="accordion-collapse show" data-bs-parent="#accordion">
                                                <div class="accordion-body">
                                                    Yes! We offer races and track days tailored for all skill levels.
                                                    Whether you're a beginner or a seasoned pro, you'll find exciting
                                                    challenges and opportunities to improve.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item mb-4 wow fadeInUp" data-wow-delay=".7s">
                                            <h5 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#faq3"
                                                    aria-expanded="false" aria-controls="faq3">
                                                    Do you provide full restorations for vintage motorcycles?
                                                </button>
                                            </h5>
                                            <div id="faq3" class="accordion-collapse collapse"
                                                data-bs-parent="#accordion">
                                                <div class="accordion-body">
                                                    Yes! We offer races and track days tailored for all skill levels.
                                                    Whether you're a beginner or a seasoned pro, you'll find exciting
                                                    challenges and opportunities to improve.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item wow fadeInUp" data-wow-delay=".8s">
                                            <h5 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#faq4"
                                                    aria-expanded="false" aria-controls="faq4">
                                                    Are there exclusive merchandise items for club members?
                                                </button>
                                            </h5>
                                            <div id="faq4" class="accordion-collapse collapse"
                                                data-bs-parent="#accordion">
                                                <div class="accordion-body">
                                                    Yes! We offer races and track days tailored for all skill levels.
                                                    Whether you're a beginner or a seasoned pro, you'll find exciting
                                                    challenges and opportunities to improve.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="right-sidebar-section sticky-style">
                        <div class="right-sidebar">
                            <div>
                                <h3>All Categories</h3>
                            </div>
                            <ul class="services-details-list list-unstyled">
                                <li><a href="service-details.html" class="text-decoration-none">Smart Key</a><span><i
                                            class="fa-solid fa-circle-chevron-right"></i></span></li>
                                <li><a href="service-details.html" class="text-decoration-none">Free Car
                                        Parking</a><span><i class="fa-solid fa-circle-chevron-right"></i></span></li>
                                <li><a href="service-details.html" class="text-decoration-none">Fast Wifi
                                        Interner</a><span><i class="fa-solid fa-circle-chevron-right"></i></span></li>
                                <li><a href="service-details.html" class="text-decoration-none">Room Service</a><span><i
                                            class="fa-solid fa-circle-chevron-right"></i></span></li>
                                <li><a href="service-details.html" class="text-decoration-none">Food & Drink</a><span><i
                                            class="fa-solid fa-circle-chevron-right"></i></span></li>
                                <li><a href="service-details.html" class="text-decoration-none">Swimming -
                                        Pool</a><span><i class="fa-solid fa-circle-chevron-right"></i></span></li>
                            </ul>
                        </div>
                        <div class="right-sidebar">
                            <div class="sidebar-title">
                                <h3>Hours</h3>
                            </div>
                            <ul class="hours-list list-unstyled">
                                <li>
                                    <span>Breakfast - </span> <b>7:00 AM to 10:30 AM</b>
                                </li>
                                <li>
                                    <span>Lunch - </span> <b>1:00 PM to 2:30 PM</b>
                                </li>
                                <li>
                                    <span>Supper - </span> <b>6:00 PM to 7:00 PM</b>
                                </li>
                                <li>
                                    <span>Dinner - </span> <b>9:30 PM to 11:00 PM</b>
                                </li>
                                <li>
                                    <span>Super Offer - </span> <b>Monday To Friday</b>
                                </li>
                            </ul>
                        </div>
                        <div class="right-sidebar">
                            <div class="sidebar-title">
                                <h3>Hotel Booking</h3>
                            </div>
                            <div class="booking-item">
                                <form action="#">
                                    <div class="row g-4">
                                        <div class="col-lg-12">
                                            <div class="form-input-section">
                                                <input type="text" placeholder="Check In">
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-input-section">
                                                <input type="text" placeholder="Check Out">
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-input-section">
                                                <div class="form">
                                                    <select class="shaden-form-dropdown w-100">
                                                        <option>Room</option>
                                                        <option>01</option>
                                                        <option>02</option>
                                                        <option>03</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-input-section">
                                                <div class="form">
                                                    <select class="shaden-form-dropdown w-100">
                                                        <option>Guest</option>
                                                        <option>01</option>
                                                        <option>02</option>
                                                        <option>03</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <button class="main-theme-colored-btn check-avail-hover-btn w-100"
                                                type="submit">
                                                CHECK AVAILABILITY
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="service-details-contact-bg position-relative overflow-hidden text-center bg-cover"
                            style="background-image: url('../../assets/images/Hotel Details/luxury-hotel-contact.jpg');">
                            <h3>
                                Please Contact Us By Phone or Email to Make a Reservation.
                            </h3>
                            <div class="icon">
                                <img src="../../assets/images/Hotel Details/call.png" alt="img">
                            </div>
                            <p>Need Reservation? Call us, it's toll-free.</p>
                            <h3 class="fs-5"><a href="tel:+0094382229540" class="text-decoration-none">+009 (438) 222
                                    9540 </a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>