<section class="our-hotel-section position-relative section-padding">
    <div class="right-bg-img position-absolute bottom-0 end-0">
        <img src="../../assets/images/home/about/shapes.png" class="opacity-20" alt="img">
    </div>
    <div class="container">
        <div class="hotel-detail-container">
            <div class="row g-4 align-items-end">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay=".3s">
                    <div class="hotel-images-section position-relative">
                        <div class="hotel-image-container">
                            <img src="../../assets/images/home/about/luxury-hotel-1.webp" alt="img" class="w-100 h-100">
                            <div class="hotel-exp-counter">
                                <h2><span class="hotel-exp-count">46</span>+</h2>
                                <p>
                                    Experience <br> Hoteler
                                </p>
                            </div>
                            <div class="hotel-image-2">
                                <img src="../../assets/images/home/about/swimming-pool-luxury.webp" alt="img"
                                    class="w-100 h-100">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay=".5s">
                    <div class="hotel-text-content">
                        <div class="title-with-icon position-relative mb-0">
                            <h6 class="wow fadeInUp lh-1 d-flex text-primary-1 fw-normal gap-2 flex-wrap">
                                <img src="../../assets/icons/wave-theme.svg" class="hero-icon" alt="img">
                                E N J O Y Y O U R D A Y
                            </h6>
                            <h2 class="wow fadeInUp text-capitalize" data-wow-delay=".2s">
                                Locate the Greatest Arlux City Hotel
                            </h2>
                        </div>
                        <p class="hotel-details-text wow fadeInUp" data-wow-delay=".4s">
                            Discover the perfect stay in the heart of the city. Our hotel is strategically located near
                            major business districts, top attractions,
                        </p>
                        <ul class="nav d-flex align-items-center list-unstyled">
                            <li class="nav-item wow fadeInUp" data-wow-delay=".2s">
                                <a href="#Italian" data-bs-toggle="tab" class="nav-link active text-decoration-none">
                                    Italian Restaurant
                                </a>
                            </li>
                            <li class="nav-item wow fadeInUp" data-wow-delay=".4s">
                                <a href="#Spa" data-bs-toggle="tab" class="nav-link text-decoration-none">
                                    Spa Complex
                                </a>
                            </li>
                            <li class="nav-item wow fadeInUp" data-wow-delay=".6s">
                                <a href="#Children" data-bs-toggle="tab" class="nav-link text-decoration-none">
                                    Children's Animators
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div id="Italian" class="tab-pane fade show active">
                                <div class="menu-list">
                                    <p>Working Hours:</p>
                                    <ul class="list-unstyled">
                                        <li>
                                            <span>Breakfast :</span>
                                            7:00am - 11:30am
                                        </li>
                                        <li>
                                            <span>Lunch :</span>
                                            0:30pm - 4:30pm
                                        </li>
                                        <li>
                                            <span>Dinner :</span>
                                            7:30pm - 10:30pm
                                        </li>
                                        <li>
                                            <span>Evening Bar :</span>
                                            11:00pm - 02:00pm
                                        </li>
                                    </ul>
                                    <a href="#"
                                        class="main-theme-colored-btn sd-read-m-hover-btn text-decoration-none">READ
                                        MORE</a>
                                </div>
                            </div>
                            <div id="Spa" class="tab-pane fade">
                                <div class="menu-list">
                                    <p>Working Hours:</p>
                                    <ul class="list-unstyled">
                                        <li>
                                            <span>Breakfast :</span>
                                            7:00am - 11:30am
                                        </li>
                                        <li>
                                            <span>Lunch :</span>
                                            0:30pm - 4:30pm
                                        </li>
                                        <li>
                                            <span>Dinner :</span>
                                            7:30pm - 10:30pm
                                        </li>
                                        <li>
                                            <span>Evening Bar :</span>
                                            11:00pm - 02:00pm
                                        </li>
                                    </ul>
                                    <a href="#"
                                        class="main-theme-colored-btn sd-read-m-hover-btn text-decoration-none">READ
                                        MORE</a>
                                </div>
                            </div>
                            <div id="Children" class="tab-pane fade">
                                <div class="menu-list">
                                    <p>Working Hours:</p>
                                    <ul class="list-unstyled">
                                        <li>
                                            <span>Breakfast :</span>
                                            7:00am - 11:30am
                                        </li>
                                        <li>
                                            <span>Lunch :</span>
                                            0:30pm - 4:30pm
                                        </li>
                                        <li>
                                            <span>Dinner :</span>
                                            7:30pm - 10:30pm
                                        </li>
                                        <li>
                                            <span>Evening Bar :</span>
                                            11:00pm - 02:00pm
                                        </li>
                                    </ul>
                                    <a href="#"
                                        class="main-theme-colored-btn sd-read-m-hover-btn text-decoration-none">READ
                                        MORE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>